!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi #{@user.username}
    %p
      The #{@game.title} competition for #{@tournament.name} was finished ! Come see the final result !